.link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  outline: none;
  border-radius: 4px;
  padding: 8.5px 18px;
  margin: 0;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  line-height: 21px;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.link:focus-visible {
  outline-offset: 2px;
}

.solid {
  color: var(--color-wh);
  background-color: var(--color-bk);
}

.solid:hover {
  border-color: var(--color-dark-accent);
  background-color: var(--color-dark-accent);
}

.solid:disabled {
  color: var(--color-wh);
  pointer-events: none;
}

.outline {
  background-color: var(--color-wh);
}

.outline:disabled {
  background-color: transparent;
  pointer-events: none;
}

.flat {
  background-color: transparent;
  border: 1px solid transparent;
}

.flat:disabled {
  pointer-events: none;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon:disabled {
  pointer-events: none;
}

.iconFlat {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid transparent;
}

.iconFlat:focus-visible {
  border-radius: 4px;
}

.iconLinkDiv {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  display: inline-block;
  margin-left: 18px;
}
