.section {
  display: flex;
  flex-direction: column;
  margin: 0 var(--space-4);
  padding-top: 80px;
  gap: var(--space-10);
  text-align: center;
}

.section h3 {
  margin-bottom: var(--space-5);
  font-size: var(--font-size-lg);
}

.section p {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
  font-size: var(--font-size-md);
  line-height: 1.4;
}

.section hr {
  width: 54px;
  margin: 0 auto;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 68px 24px 32px 24px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.content {
  margin-bottom: auto;
}

.icon {
  border-radius: var(--radius-full);
  background-color: var(--color-blush-600);
  width: 98px;
  height: 98px;
  padding: var(--space-5);
  box-sizing: border-box;
  position: absolute;
  top: -49px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  color: var(--color-neutral-paper);
}

@media (min-width: 768px) {
  .section {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 64px;
    padding-top: 140px;
    gap: var(--space-6);
  }

  .item {
    flex: 1 1 15%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 68px 38px 32px 38px;
  }
}
