.section {
  text-align: center;
  position: relative;
  margin: var(--space-8) var(--space-5);
}

.section h2 {
  font-size: 28px;
  margin-bottom: var(--space-6);
}

.section p {
  text-align: left;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    margin: var(--space-12) var(--space-5);
  }

  .section h2 {
    font-size: 36px;
  }

  .section p {
    width: 60%;
  }
}
